
	<h3>{{task.header}}</h3>
	<ul class="list-unstyled">
		<input type="text"  ng-model="newSub"><button class="btn" ng-click="addSubTask(newSub)">add subtask</button>
		<li ng-repeat="subtask in task.subTasks">

			<input type="checkbox" ng-click='doneSub(task._id)' ng-model="subtask.done"><span ng-class="{taskDone:subtask.done}">{{subtask.text}}</span><button ng-click="delSubTask($index)">-</button>
		</li>
		<li><span class="text-info">{{newSub}}</span></li>
		
	</ul>
	<h5>DueDate:{{task.dueDate | date:'fullDate'}}</h5>
    <div class="row">
        <div class="col-md-6">
            <p class="input-group">
            	
            	 
              <input type="text" ng-blur="SetDueDate($event,task.dueDate)" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="task.dueDate" is-open="dateIsOpened" min-date="today" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
    </div>
    <span>Description:</span>
    <textarea class="form-control" cols="25" rows="3" ng-model="task.desc" ng-blur="setDesc($event,task.desc)"></textarea>