<div class="container text-center">
		<div class="col-xs-5 col-md-5  col-lg-5 col-sm-5">
			<h1>Log In</h1>
			<form name="login" class="form-horizontal"  role="form">
				
					<div class="input-group">
						<input type="mail" placeholder="mail" class="form-control mail" ng-model="mail">
						<i class="input-group-addon">@</i>
					</div>
					<br>
					<div class="input-group">
						<input type="password" placeholder="password" class="form-control " ng-model="password">
						<i class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></i>
						
					
				</div>
			</form>
		</div>

		<div class="col-xs-5 col-md-5  col-lg-5 col-sm-5">


			<h1>Sign in</h1>
			<form name="login" class="form-horizontal"  role="form">
				
					<div class="input-group">
						<input type="mail" placeholder="mail" class="form-control mail" ng-model="mail">
						<i class="input-group-addon">@</i>
					</div>
					<br>
					<div class="input-group">
						<input type="password" placeholder="password" class="form-control " ng-model="password">
						<i class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></i>
						
					
				</div>
			</form>
		</div>

	</div>