body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:#000;
  color:#bbb; 
}

a {
  color: #00B7FF;
}
.taskDone{
	text-decoration: line-through;
	color:#888;
}
.pointer{
	cursor:pointer;
	box-sizing: border-box;
	border-radius: 5px;
	border:2px solid rgba(57, 217, 76, 0);

}
.pointer:hover{
	
	border:2px dotted #33DDAA;
	color:#33DDAA;
}
.active{
	background-color: #6BFFD7;
	color:#000A52;
}